<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://127.0.0.1:5432/asset_manager</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">BoboJeSmutny</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="connection.pool_size">10</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>

        <!-- List of XML mapping files -->
        <mapping class = "backend.entity.Location"/>
        <mapping class="backend.entity.User"/>
        <mapping class="backend.entity.Department"/>
        <mapping class="backend.entity.Ticket"/>
        <mapping class="backend.entity.Asset"/>

    </session-factory>
</hibernate-configuration>